<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_project_java">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesNonSdkApi="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Final_project_java">
        <activity android:name=".ChatActivity"></activity>
        <activity
            android:name=".ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shope_profie_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Notification_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Home_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.Result_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>